<div class="container d-flex">
  <div class="d-flex justify-content-space-between">
    <h1>Rent for <%= @costume.name %></h1>
    <%  @costume.photos.each do |photo|  %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <p><%= @costume.description %></p>
    <p><%= @costume.price %> €/day</p>
    <%= simple_form_for [@costume,@rent] do |f| %>
      <%= f.input :begin_date %>
      <%= f.input :end_date%>
      <%= f.submit%>
      <% end %>
    </div>
</div>
<%# <div class="card">
<% price_in_days = (@rent.end_date - @rent.begin_date).to_i %>
<%# <% price = @costume.price * price_in_days %>
<%# <%= "You rent for #{price_in_days} days, cost #{price}"  %>
<%# </div> %>

<%= link_to "Retour", costume_path(@costume)  %>
