<div class="container_form">
  <div class="edit_center">
    <div class="costume">
        <h2><strong>Rent for <%= @costume.name %></strong></h2>
        <%  @costume.photos.each do |photo|  %>
          <%= cl_image_tag photo.key, width: 400, height: 600, crop: :fit %>
        <% end %>
    </div>
        <div class="card_edit">
            <p><%= @costume.description %></p>
            <p>  <strong>Get your Costume for : <%= @costume.price %>€/day</strong> </p>
        </div>
  </div>
        <div class="form_container">
          <h2 class="h2rent"><strong>Because with BNB Costumes...</strong></h2>
          <div class="img_center">
            <p id="logo" ><%= image_tag "logo.png", width: 450, height: 350%></p>
          </div>
          <p>...it's the easiest and fastest way to get your Costume in time!</p>
              <%= simple_form_for [@costume,@rent] do |f| %>
                <%= f.input :begin_date %>
                <%= f.input :end_date%>
                <%= f.submit "Rent Costume", :class => "btn btn-ghost btn-form" %>
                <% end %>
        </div>
</div>
<%# <div class="card">
<% price_in_days = (@rent.end_date - @rent.begin_date).to_i %>
<%# <% price = @costume.price * price_in_days %>
<%# <%= "You rent for #{price_in_days} days, cost #{price}"  %>
<%# </div> %>
<%= link_to "Back", costume_path(@costume), :class => "btn btn-ghost" %>
