<div class="complete">
  <div class="bar">
    <div class="centered-text">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "user-pic" %>
      <h2>Your profile</h2>
      <p>Hello <%= current_user.email %>!</p>
    </div>
  </div>  <!-- bar -->

  <div class="cos">
      <div class="rented-cos">
          <h2>Your rented costumes</h2>
        <div class="cos-card-rent">
          <% @rents.each do |rent| %>
            <div class="cos-method">
              <% rent.costume.photos.each do |photo| %>
                <% @rented_costume = rent.costume %>
                <% if @rented_costume.photos.attached? %>
                  <div class="cos-image">
                    <%= cl_image_tag photo.key, width: 200, height:200, crop: :fill %>
                  </div> <!-- "cos-image" -->
                <% end %>
                <p>"Du"<%=rent.begin_date%></p>
                <p>"Au"<%=rent.end_date%></p>
                <%= link_to "Delete", rent, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-ghost' %>
              <% end %>
            </div> <!-- "cos-image" -->
          <% end %>
        </div> <!-- classless -->
      <div class="my-cos">
          <h2>Your costumes</h2>
        <div class="cos-card-my">
              <% current_user.costumes.each do |costume| %>
                <div class="">
                  <%= cl_image_tag costume.photos.first.key, width: 200, height:200,crop: :fill %>
                  <%= costume.name %>
                </div> <!-- string vide -->
              <% end %>
        </div>
      </div> <!-- my-cos -->
      </div> <!-- rented-cos -->
  </div> <!-- cos -->
</div> <!-- complete -->
