<div class="complete">
  <div>
    <h1>Your profile</h1>
    <p>Hello <%= current_user.email %>!</p>
  </div>
    <div class="col lg-4">
        <div>
          <h2>Your rented costumes</h2>
          <% @rents.each do |rent| %>
            <div class="carte-rent">
            <% rent.costume.photos.each do |photo| %>
              <% @rented_costume = rent.costume %>
              <% if @rented_costume.photos.attached? %>
                <%= cl_image_tag photo.key, width: 200, crop: :fill %>
              <% end %>
              <p>"Du" <%=  rent.begin_date %></p>
              <p>"Au"  <%=  rent.end_date %>
                      <button class="btn btn-ghost"><%= link_to "Delete", rent,
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></button>
              </p>
            </div>
            <% end %>
          <% end %>
      </div>
      <div class="col lg-4">
        <h2>Your costumes</h2>
          <% current_user.costumes.each do |costume| %>
            <div class="carte-create">
              <%= cl_image_tag costume.photos.first.key, width: 200, crop: :fill %>
              <%= costume.name %>
                <%= link_to "Edit" , edit_costume_path(costume), :class => "btn btn-ghost"   %>
          <% end %>
      </div>
    </div>
</div>
<%# <% @costumes.first(10).each do |costume|%>
  <%# <%= costume.name %>
<%# <%end %>
