
<div class="container">
  <div>
    <h1>Your profile</h1>
    <p>Hello <%= current_user.email %>!</p>
  </div>
    <div class="cards">
      <div>
        <h2>Your rented costumes</h2>
        <% @rents.each do |rent| %>
          <div class="card">
            <% rent.costume.photos.each do |photo| %>
              <% @rented_costume = rent.costume %>
                <% if @rented_costume.photos.attached? %>
                  <%= cl_image_tag photo.key, width: 200, crop: :fill %>
                <% end %>
                <p>"Du" <%=  rent.begin_date %></p>
                <p>"Au"  <%=  rent.end_date %> </p>
                <p>
                <button class="btn btn-ghost"><%= link_to "Delete", rent,
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></button>
                </p>
            <% end %>
          </div>
        <% end %>
      </div>
      <div>
        <h2>Your costumes</h2>
          <% current_user.costumes.each do |costume| %>
            <div class="card">
              <%= cl_image_tag costume.photos.first.key, width: 200, crop: :fill %>
              <%= costume.name %>
          <% end %>
      </div>
    </div>
</div>

<%# <% @costumes.first(10).each do |costume|%>
  <%# <%= costume.name %>
<%# <%end %>
